@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin titles {
  font-family: "BebasNeueBold", Arial, sans-serif;
  color: black;
  font-size: 42px;
  line-height: 46px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  @media ($tablet-width) {
    font-size: 55px;
    line-height: 64px;
  }
}
