.logo {
  border-bottom: 1px solid #ededed;

  img {
    width: 199px;
    height: 46px;
    @media ($tablet-width) {
      width: 250px;
      height: auto;
      margin-top: 20px;
    }
    @media ($desktop-width) {
      width: 376px;
      height: 93px;
      margin-top: 0px;
    }
  }

  @media ($tablet-width) {
    float: left;
    border-bottom: none;
  }
  @media ($desktop-width) {

  }
}

.logo--mobile {
  display: block;
  background: #ededed;
  @media ($tablet-width) {
    display: none;
  }
}

.logo--tablet {
  display: none;
  @media ($tablet-width) {
    display: block;
  }
}
