.slider {
  height: 0;
  overflow: hidden;
  @media ($tablet-width) {
    height: auto;
    overflow: auto;
  }
  @media ($desktop-width) {

  }
}

.b-presentation {
    overflow: hidden;
    height: 802px;
    position: relative;
    background: #363538 center top no-repeat
}

.slider-presentation {
    text-align: center;
    height: 613px;
    line-height: 613px;
    vertical-align: middle;
    z-index: 100
}
.slider-presentation li {
    height: 100%;
    display: none
}
.slider-presentation li img {
    vertical-align: middle
}
.slider-presentation li:first-child {
    display: block
}

.slider-photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}
.slider-photo ul {
    list-style: none;
    padding: 0;
    margin: 0
}
.slider-photo ul li {
    display: none
}
.slider-photo ul li:first-child {
    display: block
}
.slider-photo-pager {
    height: 189px
}
.slider-photo-pager a {
    display: block;
    float: left;
    width: 304px;
    height: 189px
}
.slider-photo-pager a img {
    display: block;
    width: 304px;
    height: 189px
}
#slider-photo-pager div.scrollableArea * {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none
}

div.scrollingHotSpotLeft {
    min-width: 75px;
    width: 10%;
    height: inherit;
    background-image: url(/img/big_transparent.gif);
    background-repeat: repeat;
    background-position: center center;
    position: absolute;
    z-index: 200;
    left: 0;
    cursor: url(/img/cursors/cursor_arrow_left.png), url(/img/cursors/cursor_arrow_left.cur), w-resize
}
div.scrollingHotSpotLeftVisible {
    background-image: url(/img/arrow_left.gif);
    background-color: #FFF;
    background-repeat: no-repeat
}
div.scrollingHotSpotRight {
    min-width: 75px;
    width: 10%;
    height: inherit;
    background-image: url(/img/big_transparent.gif);
    background-repeat: repeat;
    background-position: center center;
    position: absolute;
    z-index: 200;
    right: 0;
    cursor: url(/img/cursors/cursor_arrow_right.png), url(/img/cursors/cursor_arrow_right.cur), e-resize
}
div.scrollingHotSpotRightVisible {
    background-image: url(/img/arrow_right.gif);
    background-color: #FFF;
    background-repeat: no-repeat
}
div.scrollWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%
}
div.scrollableArea {
    position: relative;
    width: auto;
    height: 100%
}
